@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

{*
	margin: 0;
	padding: 0;
	
	box-sizing: border-box;
}

body{
	
	color: #1d243a;
	font-family: 'Outfit', sans-serif;
	background-color:  hsl(212, 45%, 89%);
}

.header_container{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0 ;
	
	
}

.qr_code{
	width: 300px;
	border-radius: 20px;
	padding: 5px;
	
}
	
.qr_container{
	background-color:hsl(0, 0%, 100%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 10px;
	border-radius: 20px;
	padding-bottom:10px;
	flex-shrink: 1;
	
	
	
}
.qr_container h3{
	font-size: 20px;
	margin-bottom: 5px;
}

.qr_container p{
	font-size: 15px;
	color: hsl(220, 15%, 55%);
	text-align: center;
	padding-bottom: 13px;
	
	
}
